APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

ABLY_KEY=
VITE_ABLY_PUBLIC_KEY=

QUEUE_CONNECTION=database

FRONTEND_URL=
SITE_URL=

DAYS_TO_EXPIRE_INVITATION_TOKEN=7
DAYS_TO_EXPIRE_REGISTER_TOKEN=7
DAYS_TO_EXPIRE_ACCESS_TOKEN=30

PAYMENT_TYPE=paynow
PAYNOW_API_SANDBOX=true
PAYNOW_API_SIGNATURE=
PAYNOW_API_KEY=

GOOGLE_APPLICATION_CREDENTIALS=
