.p-inputtext:not(.p-inputtext-sm) {
    padding: .75rem;
}

.p-button-label {
    font-weight: 500;
}

.p-datatable th[class*="text-"] .p-column-header-content {
    display: inline-flex ;
}

SPAN.required-mark {
    font-weight: 400;
    color: #595959;
    padding-left: 0.2rem;
}

DIV.auth-background {
    background-image: url('/images/IMG_20180920_115646-p.webp');
    background-size: cover;
    opacity: 0.8;
}

A {
    color: #3B82F6;
}

input::placeholder,
.p-inputtext::placeholder {
    color: #959595;
    opacity: 0.6;
}

.header-border-bottom {
    border-bottom: 1px solid var(--surface-border);
}

.p-breadcrumb-list {
    text-wrap: nowrap;
}

TABLE.p-datatable-table {
    TR TH,
    TR TD {
        white-space: nowrap;
    }
}

.clickable TABLE.p-datatable-table {
    TR:not(.p-datatable-emptymessage) TD {
        cursor: pointer;
    }
}

A.active-route {
    background-color: var(--surface-100);
}

@media screen and (max-width: 991px) {
    .sticky-footer-form {
        margin-bottom: 70px;
        
        .form-footer {
            position: fixed;
            bottom: 0;
            background: white;
            width: 100%;
            left: 0;
            padding: 1rem 4rem 1rem 4rem;
            border-top: 1px solid var(--surface-border);
            z-index: 100;
        }
    }
}

.p-steps .p-steps-item:before {
    margin-top: 0;
}

TABLE.table {
    width: 100%;
    border-collapse: collapse;
}

TABLE.table TR TD {
    padding: 0.5rem;
    border-bottom: 1px solid var(--gray-200);
    vertical-align: top;
}

TABLE.table TR TD:first-of-type {
    padding-left: 0;
}

DIV.p-tabview-panels {
    padding-left: 0;
    padding-right: 0;
}

LI.p-tabview-header:not(.p-highlight) A {
    color: #6b7280;
}

.p-inputnumber.text-right .p-inputnumber-input {
    text-align: right;
}

.archived-item {
    color: var(--gray-400) !important;
}

.archived-item A {
    color: var(--gray-500) !important;
}

.archived-item .p-badge {
    background: var(--gray-400);
}

.p-checkbox[invalid="true"] .p-checkbox-box {
    border-color: #e24c4c;
}