.p-inputtext
{
    padding: 1rem;
}

.p-button-label
{
    font-weight: 500;
}

.p-datatable th[class*="text-"] .p-column-header-content {
    display: inline-flex ;
}

SPAN.required-mark {
    font-weight: 400;
    color: #595959;
    padding-left: 0.2rem;
}