<page>
    <title>Obsługa usterek</title>
    <subtitle>Pełna kontrola nad konserwacją obiektu.</subtitle>
    <meta>
        <title>Obsługa awarii i usterek | [META_TITLE]</title>
        <description>
            Proste narzędzie do obsługi awarii występujących w wynajmowanych lokalach.
        </description>
    </meta>
    
    <content>
        <![CDATA[
            <div class="lead lh-base mt-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-8 order-0 order-lg-0 fs-6">
                        <div class="fs-4 fw-bolder mb-2">Zarządzaj awariami</div>
                        Dodawaj wykryte lub zgłoszone przez najemców usterki, które należy niezwłocznie naprawić.
                        Rejest usterek ułatwia  planowanie i wykonywanie wszelkich napraw.
                        Od teraz nie będziesz musiał pamiętać o tym, że należy wezwać
                        fachowca do cieknącego kranu czy uszkodzonej pralki, a dzięki priorytetyzacji w pierwszej kolejności skupisz
                        się na istotnych dla Ciebie usterkach.
                    </div>
                    <div class="col-12 col-lg-4 order-0 order-lg-0 mt-2">
                        <div class="rounded-4 blue-box-bg mt-4">
                            <div class="pt-4 px-0 text-center">
                                <a href="/images/mockups/full/nowa-usterka.png" class="open-image" title="Lista zgłoszonych usterek">
                                    <img src="/images/mockups/nowa-usterka.png" style="max-width: 90%" alt="Lista zgłoszonych usterek">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="rounded-4 green-box-bg mt-2">
                [TRY_FOR_FREE]
            </div>
        ]]>
    </content>
</page>