<page>
    <title>Rozwiązania chmurowe</title>
    <subtitle>Kontroluj swój biznes z każdego zakątka na świecie.</subtitle>
    <meta>
        <title>Ciągły dostęp do umów najmu i nieruchomości | [META_TITLE]</title>
        <description>
            Nieograniczony dostęp możliwy z każdego miejsca na ziemi do swoich umów oraz nieruchomości.
        </description>
    </meta>
    
    <content>
        <![CDATA[
            <div class="lead lh-base mt-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-8  fs-6">
                        <div class="fs-4 fw-bolder mb-2">Dodawaj nieruchomości</div>
                        Dostęp do aplikacji możliwy jest z każdego zakątka na świecie. Nie ważne gdzie jesteś, możesz kontrolować
                        swój biznes 24 godziny na dobę.
                    </div>
                    <div class="col-12 col-lg-4 order-0 order-lg-0 mt-2">
                        <div class="px-0 rounded-4 green-box-bg text-center" style="font-size: 50px; color: #a1a1a1; padding-top: 50px; padding-bottom: 50px;">
                            <i class="bi bi-globe-americas"></i>
                        </div>
                    </div>
                </div>
            </div>
        ]]>
    </content>
</page>