<page>
    <title>Zarządzanie najemcami</title>
    <subtitle>Organizuj kartoteki najemców i miej wszystkie dane zawsze pod ręką.</subtitle>
    <meta>
        <title>Kartoteki najemców | [META_TITLE]</title>
        <description>
            Zarządzanie najemcami, wynajmowanie nieruchomości. Dostęp do danych kontaktowych najemców.
        </description>
    </meta>
    
    <content>
        <![CDATA[
            <div class="lead lh-base mt-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-4 order-1 order-lg-0 mt-2">
                        <div class="rounded-4 blue-box-bg mt-4">
                            <div class="pt-4 px-0 text-center">
                                <a href="/images/mockups/full/wizytowka-najemcy.png" class="open-image" title="Przykładowa kartoteka najemcy">
                                    <img src="/images/mockups/wizytowka-najemcy.png" style="max-width: 90%" alt="Kartoteka najemcy">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 order-0 order-lg-1 fs-6">
                        <div class="fs-4 fw-bolder mb-2">Kartoteka najemcy</div>
                        Twórz i zarządzaj kartotekami najemców. Najemcą może być osoba fizyczna lub firma.
                        Ciągły dostęp do danych ułatwia zarządzanie i kontakt z najemcą, a dzięki danym historycznym
                        dowiesz się, czy dany najemca korzystał w przeszłości z Twoich usług.
                        Z poziomu kartoteki najemcy możesz w szybki i bezproblemowy sposób rozpocząć wynajem wybranej nieruchomości.
                    </div>
                </div>
            </div>
    
            <div class="rounded-4 green-box-bg mt-2">
                [TRY_FOR_FREE]
            </div>
        ]]>
    </content>
</page>